 <h4>{{ listName() }}</h4>

<ul>
        @for(product of products(); track product.id; let idx = $index){
            @if(product.category === 'fruta'){
        <li>
          <input type="checkbox" name="" id="" />
          <span> {{product.name }}</span>
          <strong
            [class.text-danger]="product.price > 2"
            [class.text-info]="product.price <= 2"
          >
            - {{ product.price | currency : "EUR" : "symbol" }}</strong
          >
        </li>
        } @else{
            <li>
                <input type="checkbox" name="" id="" />
                {{product.name}} ({{product.category}} - {{ product.price | currency : "EUR" : "symbol" }}
           )</li>
        }
        
}
      </ul>
